name: CI

on:
  pull_request:
    branches: [main]
    paths-ignore: ["*.md"]
  
  push:
    branches:
      - "renovate/**"
  
jobs:
  main:
    runs-on: [self-hosted, idp]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5
        with:
          images: workleap/azure-cli-credentials-proxy

      - name: Docker build
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6
        with:
          context: .
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}








